<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<nav th:replace="fragments/navbar::nav"></nav>
<main>
    <div class="clear"></div>

    <div class="card input_block_super_big" th:object="${skillsGroups}">
        <h2 class="input_header">Список групп технологий</h2>
        <div class="card-header">
            <div th:if="${appended_success}">
                <div class="alert alert-success" role="alert">Группа технологий успешно добавлена!</div>
            </div>
            <div th:if="${deleted_success}">
                <div class="alert alert-info" role="alert">Группа технологий успешно удалена!</div>
            </div>
            <div th:if="${matched_success}">
                <div class="alert alert-info" role="alert">Технологии успешно сопоставлены с группами технологий!</div>
            </div>
            <div th:if="${update_market_demand_success}">
                <div class="alert alert-info" role="alert">Данные по востребованности групп технологий на рынке успешно обновлены!</div>
            </div>
            <table th:if="${#lists.size(skillsGroups) > 0}" class="table">
                <tr>
                    <th class="td_input">Название</th>
                    <th class="td_input">Востребованность</th>
                    <th class="td_input">Редактирование</th>
                    <th class="td_input">Удаление</th>
                </tr>
                <tr th:each="skillsGroup : ${skillsGroups}">
                    <td th:text="${skillsGroup.description}" class="td_input"></td>
                    <td th:text="${skillsGroup.getRoundedMarketDemand()}" class="td_input"></td>
                    <td><a th:href="@{'/skills-groups/edit/' + ${skillsGroup.id}}" class="btn btn-primary">Редактировать</a></td>
                    <td>
                        <form name="form" th:action="@{'/skills-groups/delete/' + ${skillsGroup.getId()}}" th:method="POST">
                            <input type="submit" class="btn btn-danger" value="Удалить">
                        </form>
                    </td>
                </tr>
            </table>
            <p th:if="${#lists.size(skillsGroups) == 0}">Вы не добавили ни одной группы технологий!</p>
        </div>
    </div>
</main>
<div th:replace="fragments/scripts::scripts"></div>
</body>
</html>